<head>
    <title>Add a friend!</title>
</head>
    <body>
        <div class="title">
            <h1>Add a friend to your friend list!</h1>
        </div>
            <form method="post" action="/addfriend">
                <label for="first_name">First name:</label>
                <input type="text" name="first_name" required='true' /><br />
				<label for="last_name">Last name:</label>
				<input type="text" name="last_name" required='true' /><br />
                <input type="submit" value="Upload" />
            </form>
    </body>