<head>
    <title>Create an album!</title>
</head>
    <body>
        <div class="title">
            <h1>Create an album to add photos!</h1>
        </div>
            <form method="post" action="/createalbum">
                <label for="name">Album name:</label>
                <input type="text" name="name" required='true' /><br />
				<label for="date">Date of creation:</label>
				<input type="date" placeholder="(format:1994-12-12)" name="date" required='true' /><br />
                <input type="submit" value="Upload" />
            </form>
    </body>